/* You can add global styles to this file, and also import other style files */
.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.mx-2 {
  margin-left: calc(1rem * 0.5) !important;
  margin-right: calc(1rem * 0.5) !important;
}
